* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Josefin Sans', sans-serif;
}




/*  */
a,
a:hover {
    text-decoration: none;
    transition: linear .2s;
}

/*  */


.home-sec {
    background-image: url(../image/home-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;


}

.nav-item {}

.nav-link {
    font-size: 15px;
    font-weight: 600;
    line-height: 65px;
    color: #5B5B5B;
    margin-left: 15px;
}

.banner {
    padding-top: 150px;
    padding-bottom: 300px;
}

.banner-content {}

.banner-content h1 {
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 20px;
}

.banner-content h1 span {
    font-weight: 700;
}

.banner-content p {
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    color: #455A64;
    margin-top: 0px;
    margin-bottom: 55px;
}

.button-group {}

.button-group a {
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    color: #000;
    background-color: #27DEBF;
    padding: 6px 25px;
    border-radius: 25px;
    padding-top: 10px;
}

.button-group a:last-child {
    background: transparent;
}

.banner-content {}

.banner-content img {}

.about-sec {}

.about-img {}

.about-img img {}

.about-content {}

.about-content h3 {}

.about-content h2 {}

.about-content p {}

.about-content a {}

.service-sec {}

.sec-title {}

.sec-title h3 {
    color: #27DEBF;
    font-size: 20px;
    font-weight: 400;
    line-height: 108px;
    text-align: center;
}

.sec-title h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    color: #151D41;
    text-align: center;
}

.card {}

.card .icon {}

.card .icon img {}

.card h3 {
    color: #151D41;
    font-size: 33px;
    line-height: 42px;
    font-weight: 600;
}

.card p {
    color: #151D41;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.card a {}

.card a span {}

.protfolio-sec {}

.portfolio-item {}

.portfolio-item img {}

.portfolio-overlay {}

.portfolio-overlay h3 {}

.portfolio-overlay a {}

.portfolio-overlay a span {}

.testimonials-sec {}

.carousel-item {}

.testimonial-item {}

.testimonial-item img {}

.testimonial-item article {}

.testimonial-item h3 {}

.testimonial-item h5 {}

.carousel-control-prev {}

.carousel-control-prev-icon {}

.carousel-control-next {}

.carousel-control-next-icon {}

.visually-hidden {}

.blog-card {}

.blog-card .image {}

.blog-card .image img {}

.blog-card h2 {}

.blog-card p {}

.blog-card h3 {}

.blog-card a {}

.from-sec {}

/* ************************************************* */
/* circular progress bar css start from here */
/* ************************************************* */
.progress {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 7px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: #ffb43e;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 36px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 300;
}

.progress .progress-value div {
    margin-top: 10px;
}

.progress .progress-value span {
    font-size: 12px;
    text-transform: uppercase;
}

/* This for loop creates the 	necessary css animation names 
  Due to the split circle of progress-left and progress right, we must use the animations on each side. 
  */
.progress[data-percentage="10"] .progress-right .progress-bar {
    animation: loading-1 1.5s linear forwards;
}

.progress[data-percentage="10"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="20"] .progress-right .progress-bar {
    animation: loading-2 1.5s linear forwards;
}

.progress[data-percentage="20"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="30"] .progress-right .progress-bar {
    animation: loading-3 1.5s linear forwards;
}

.progress[data-percentage="30"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="40"] .progress-right .progress-bar {
    animation: loading-4 1.5s linear forwards;
}

.progress[data-percentage="40"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="50"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="50"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="60"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="60"] .progress-left .progress-bar {
    animation: loading-1 1.5s linear forwards 1.5s;
}

.progress[data-percentage="70"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="75"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="70"] .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.5s;
}

.progress[data-percentage="75"] .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.5s;
}

.progress[data-percentage="80"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="80"] .progress-left .progress-bar {
    animation: loading-3 1.5s linear forwards 1.5s;
}

.progress[data-percentage="90"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="90"] .progress-left .progress-bar {
    animation: loading-4 1.5s linear forwards 1.5s;
}

.progress[data-percentage="100"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="100"] .progress-left .progress-bar {
    animation: loading-5 1.5s linear forwards 1.5s;
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(36);
        transform: rotate(36deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(72);
        transform: rotate(72deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(108);
        transform: rotate(108deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(144);
        transform: rotate(144deg);
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180);
        transform: rotate(180deg);
    }
}

.progress {
    margin-bottom: 1em;
}

/* form-section */
.contact-form {
    margin-bottom: 80px;
}

.input-field {
    position: relative;
    margin-bottom: 36px;
}

.input-field input {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ECECEC;
    background: transparent;
    border-radius: 2px;
    color: #808080;
}

.input-field label {
    position: absolute;
    top: 0;
    left: 15px;
    padding: 13px 0;
    font-size: 16px;
    color: #A7A7A7;
    pointer-events: none;
    transition: 0.3s;
}



.input-field textarea {
    border: 1px solid #ECECEC;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 2px;
    width: 100%;
    color: #808080;
}

.input-field input:focus~label,
.input-field input:valid~label,
.input-field input:not([value=""])~label {
    top: -13px;
    left: 10px;
    color: #0DC270;
    font-size: 14px;
    background-color: white;
    padding: 0 5px;
}

.input-field textarea:focus~label,
.input-field textarea:valid~label,
.input-field textarea:not([value=""])~label {
    top: -13px;
    left: 10px;
    color: #0DC270;
    font-size: 14px;
    background-color: white;
    padding: 0 5px;
}

.input-field input:focus,
.input-field textarea:focus {
    outline: none;
    border: 1px solid #0DC270;
}


footer {}

.footer-logo {}

.footer-logo img {}

.footer-widget {}

.footer-widget h2 {
    color: #27DEBF;
    font-size: 18px;
    line-height: 35px;
    font-weight: 600;
}

.footer-widget p {}

.copyright {}

.copyright p {}